{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, Меня зовут Руслан</h1>
<div class="row">
  <aside class="col-12 col-md-3">
    <img class="card-img my-2" src="/media/posts/ji5R3Nlj1w8.jpg">
  </aside>
  <article class="col-12 col-md-9">
    <p>
      Мои основные приемущества
      <ul>
        <li>
          Трудолюбивый
        </li>
        <li>
          Быстро учусь новым вещям
        </li>
        <li>
          Имею высшее техническо образование
        </li>
        <li>
          Не останавливаюсь на достигнутом
        </li>
    </p>
</article>
</div>

{% endblock %}